:root.dark {
    --color-white: #FFFFFFFF;
    --color-black: #000000FF;
    --color-gray: #343a40FF;
    --color-red: #dc3545;
    --color-green: #198754FF;
    --color-blue: #0d6efdFF;
    --color-orange: #fd7e14FF;
    --color-yellow: #ffc107FF;
    --color-purple: #6f42c1FF;
    --color-magenta: #d63384FF;
    --color-cyan: #0dcaf0FF;

    --color-app: #0d6efdFF;
    --color-background: #000000;
    --color-panel: #191b1f;
    --color-frame: #22272e;
    --color-border: #31383f;
    --color-text1: #d5d8de;
    --color-text2: #8c929a;
    --color-text3: #5e6672;
    --color-hover: #F4F8FF;
    --color-selected: #E7F0FE;
    --color-mask: #00000080;
    --color-scroller: #ffffff80;
    --color-error: #dc3545FF;
    --color-error-border: #dc35454C;
    --color-error-back: #dc35451A;
}