:root.light {
    --color-white: #FFFFFFFF;
    --color-black: #000000FF;
    --color-gray: #909399;
    --color-red: #dc3545FF;
    --color-green: #198754FF;
    --color-blue: #378fe6;
    --color-orange: #fd7e14FF;
    --color-yellow: #ffc107FF;
    --color-purple: #6f42c1FF;
    --color-magenta: #d63384FF;
    --color-cyan: #0dcaf0FF;

    --color-app: #dc3545FF;
    --color-background: #eaeaec;
    --color-panel: #FFFFFF;
    --color-frame: #F0F2F5;
    --color-border: #DCDFE6;
    --color-text1: #303133;
    --color-text2: #606266;
    --color-text3: #909399;
    --color-hover: #F4F8FF;
    --color-selected: #E7F0FE;
    --color-mask: #ffffff80;
    --color-scroller: #00000080;
}